@using System.Web
@using VismaBugBountySelfServicePortal.Helpers
@model VismaBugBountySelfServicePortal.Models.ViewModel.UserCredentialViewModel[]

@{
    ViewBag.Title = "My Credentials";
    Layout = "_Layout";
}
<div class="userCredentialsGrid">
    <div>
        <h2>My Credentials</h2>
        @if (TempData.ContainsKey("SuccessText"))
        {
            <div class="alert alert-success alert-sm" role="alert">
                @TempData["SuccessText"].ToString()
            </div>
        }
        @if (TempData.ContainsKey("ErrorText"))
        {
            <div class="alert alert-danger  alert-sm" role="alert">
                @TempData["ErrorText"].ToString()
            </div>
        }
        @if (User.HasClaim(c => c.Type == Const.ClaimTypeObsoleteDomain) && ViewBag.AnyCredentialsToTransfer)
        {
            <div>
                <div class="form-group text-right" style="float: right">
                    <button type="submit" class="btn btn-primary btn-events" name="btnSelectedAsset" onclick='showModal("transferCredentials");'>Transfer Credentials</button>
                </div>
            </div>
        }
    </div>
    @if (User.HasClaim(c => c.Type == Const.ClaimTypeObsoleteDomain))
    {
        <div class="alert alert-warning  alert-sm" role="alert">
            @TempData["MovedMessage"]
        </div>
        <div></div>
    }
    else if (Model.Length == 0)
    {
        <div class="alert alert-warning  alert-sm" role="alert">
            No Credentials found. Please contact us.
        </div>
        <div></div>
    }
    else
    {
        <div class="search-group search-group-button">
            <input id="ex2" class="form-control" type="search" placeholder="Search..." aria-describedby="searchBlock" oninput="searchAsset(this.value)">
            <button class="btn search-icon" type="submit" tabindex="-1"></button>
            <span class="clear-search"></span>
        </div>
        <div class="credentialDetails">
            <ul class="list-group">
                @foreach (var asset in Model)
                {

                    <li class="list-group-item list-group-title" id="@asset.AssetName" name="@asset.Description">
                        <form asp-action="RequestCredentials" asp-controller="Credential" method="post" asp-antiforgery="true">
                            <div style="display: inline">
                                @asset.Description - @asset.AssetName
                                <input type="hidden" name="selectedAsset" value="@asset.AssetName" />
                            </div>
                            <div class="form-group text-right" style="float: right">
                                @if (!User.HasClaim(c => c.Type == Const.ClaimTypeObsoleteDomain))
                                {
                                    <button type="submit" class="btn btn-primary btn-events" name="btnSelectedAsset" onclick="showCover">Request Credentials</button>
                                }
                            </div>
                        </form>
                    </li>

                    /*@*/
                    if (asset.Credentials.Count > 0)
                    {
                        <li class="list-group-item" for="@asset.AssetName">
                            <div style="overflow: auto; width:100%">
                                <table class="list-group">
                                    <thead>
                                        <tr>
                                            @foreach (var column in asset.Columns)
                                            {
                                                <th class="th-blue right-space" colspan="2">@column</th>
                                            }
                                        </tr>
                                    </thead>

                                    @foreach (var credential in asset.Credentials)
                                    {
                                        foreach (var credentialRow in credential.Rows)
                                        {
                                            <tr class="list-group-item">
                                                @foreach (var column in asset.Columns)
                                                {
                                                    <td class="right-space vismaicon-copy vismaicon-sm">
                                                        @credentialRow.Value.FirstOrDefault(c => c.ColumnName == column).ColumnValue
                                                    </td>
                                                    <td>
                                                        <div class="icon-copy" onclick="copyToClipboard('@HttpUtility.JavaScriptStringEncode(credentialRow.Value.FirstOrDefault(c => c.ColumnName == column).ColumnValue)')" title="Copy to Clipboard"></div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="@(asset.Columns.Count * 2)" style="height: 1px">
                                                <hr style="height: 1px; color: lightgray" />
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    }
</div>

<div id="transferCredentials" class="modal">
    <div class="modal-dialog">
        <div>
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" onclick='$("#transferCredentials").hide()'></button>
                <h4 class="modal-title">Transfer Credentials</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Credential" asp-action="TransferCredentials" asp-antiforgery="true">
                    <input type="hidden" id="selectedAssetName" name="selectedAssetName" />
                    <div class="form-group form-horizontal">
                        <label for="newEmail">@ViewBag.EmailLabel</label>
                        <input type="text" id="newEmail" name="newEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="offset-3 col-md-5">
                            <br />
                            <input type="submit" title="Transfer" value="Transfer" class="btn btn-primary" onclick="showCover()" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function searchAsset(text) {
        var searchText = text.toLowerCase();
        $(".list-group-title").each(function (i, element) {
            var e = $(element);
            var li = $('.list-group-item[for="' + encodeURI(element.id) + '"]');
            if (e.attr("id").toLowerCase().includes(searchText) || e.attr("name").toLowerCase().includes(searchText)) {
                e.show();
                li.show();
            }
            else {
                e.hide();
                li.hide();
            }
        });
    }
</script>
