@model VismaBugBountySelfServicePortal.Models.ViewModel.UserCredentialViewModel[]

@{
    ViewBag.Title = "User Credentials";
    Layout = "_Layout";
}
<div class="userCredentialsGrid">
    <div>
        <h2>User Credentials</h2>
    </div>
    <div>
        <div class="w-100 text-right">
            <a asp-action="Assets" class="btn btn-primary left">Back</a>
        </div>
        <form asp-action="UserAssetCredentials" method="get">
            <div class="search-group search-group-button">
                <input id="searchText" name="searchText" class="form-control" type="search" placeholder="Search user" aria-describedby="searchBlock">
                <button class="btn search-icon" type="submit" tabindex="-1"></button>
                <span class="clear-search"></span>
            </div>
        </form>
    </div>
    <div class="credentialDetails">
        <ul class="list-group">
            @if (Model != null)
            {
                @foreach (var asset in Model.Where(x => x.Credentials.Count > 0))
                {
                    <li class="list-group-item list-group-title" id="@asset.AssetName" name="@asset.Description">
                        <div style="display: inline">
                            @asset.Description - @asset.AssetName
                            <input type="hidden" name="selectedAsset" value="@asset.AssetName" />
                        </div>
                    </li>

                    if (asset.Credentials.Count > 0)
                    {
                        <li class="list-group-item" for="@asset.AssetName">
                            <div style="overflow: auto; width:100%">
                                <table class="list-group">
                                    <thead>
                                        <tr>
                                            @foreach (var column in asset.Columns)
                                            {
                                                <th class="th-blue right-space">@column</th>
                                            }
                                            @if (ViewBag.ShowTransferredInfo)
                                            {
                                                <th class="th-blue right-space">Transferred</th>
                                            }
                                        </tr>
                                    </thead>

                                    @foreach (var credential in asset.Credentials)
                                    {
                                        foreach (var credentialRow in credential.Rows)
                                        {
                                            <tr class="list-group-item">
                                                @foreach (var column in asset.Columns)
                                                {
                                                    <td class="right-space vismaicon-copy vismaicon-sm">
                                                        @credentialRow.Value.FirstOrDefault(c => c.ColumnName == column).ColumnValue
                                                    </td>
                                                }
                                                @if (ViewBag.ShowTransferredInfo)
                                                {
                                                    <td>@(credential.Transferred.HasValue ? ((credential.Transferred != null && credential.Transferred.Value) ? "YES" : "NO") : "")</td>
                                                }
                                            </tr>
                                        }

                                        <tr>
                                            <td colspan="@(asset.Columns.Count + (ViewBag.ShowTransferredInfo ? 1 : 0))" style="height: 1px">
                                                <hr style="height: 1px; color: lightgray" />
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </li>
                    }
                }
            }
            else
            {
                <li>
                    No credentials found.
                </li>
            }
        </ul>
    </div>
</div>


